.questions_background {
  background: rgba(222, 231, 229, 0.9);
}
.questions_container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;
}

.questions_h3 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  margin-top: 0;
  font-weight: bold;
  color: #67a298;
}
.questions_ul {
  padding-left: 0;
  margin-bottom: 80px;
}

.questions_li {
  margin-bottom: 30px;
}

.questions_question {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #67a298;
  margin-top: 0;
  margin-bottom: 5px;
}

.questions_answer {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
}



.questions_textarea {
    width: 500px;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #67a298;
}

.questions_button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 700px;
  height: 40px;
  background: #67A298;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 18px;
}
.questions_button:hover{
  cursor: pointer;
}
