.logoNav {
  width: 1300px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.logoApp {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #58b5af;
}

.logoStudio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: black;
  height: 50px;
}
.logoIcon {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.navLink {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #484242;
}

.navList {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.divLogo {
  display: flex;
}

.headerInfo {
  display: flex;
}

.appHouse {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  display: flex;
}

.navLi:not(:last-child) {
  margin-right: 40px;
}
